include ./header.jade

h1 Change Request anlegen

include ./errors.jade

if status == 'success'
	p.success Der Change Request wurde erfolgreich angelegt.

form(method="POST" action="/ChangeRequestAdd?sessionId=#{data.sessionId}")
	div.field
		label Titel
		input(type="text" name="title" required="required")
	div.field
		label Mandant
		select(name="customerId" required="required")
			each customer in data.customers
				option(value="#{customer._id}") #{customer.name}
	input(type="submit" value="Anlegen")