include ./header.jade

h1 Feld zu #{data.page.name} hinzufügen

include ./errors.jade

if status == 'success'
	p.success Feld hinzugefügt

form(method="POST" action="/PageFieldAdd?sessionId=#{sessionId}")
	table
		tr
			th Feldlabel
			th Feldtyp
			th Auswahlliste
			th Aktiv
		tr
			td
				input(name="label" type="text")
			td
				select(name="type")
					option(value="BOOLEAN") Ja/Nein
					option(value="COSTS") Kosten
					option(value="DATE") Datum
					option(value="LONGTEXT") Langer Text
					option(value="MAIL") Email
					option(value="MONEY") Geld
					option(value="NUMBER") Zahl
					option(value="SELECT") Auswahl
					option(value="SELECTMULTI") Mehrfach Auswahl
					option(value="TEXT") Text
			td
				input(name="selectables" type="text")
			td
				input(name="active" type="radio" checked="true")
	input(type="hidden" name="pageId" value="#{data.page._id}")
	input(type="submit" value="Hinzufügen")