include ./header.jade

h1 Einstellungen bearbeiten

include ./errors.jade

if status == 'success'
	p.success Die Settings wurden erfolgreich aktualisiert

form(method="POST"  action="/SettingEdit?sessionId=#{data.sessionId}")
	div.field
		label Erinnerung nach
		input(type="number" step="0.01" name="notificationTimeout" value="#{data.setting.notificationTimeout/86400000}")
		em Geben Sie die Anzahl der Tage an, nach denen eine Benachrichtigung aufgrund der Nichtbearbeitung des Change Requests erfolgt.
	.button
		input.innerButton(type="submit" value="Aktualisieren")